@import "../../mixins";
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");

.nav {
  @include flex(center, center, row);
  &__item {
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
  }
}

.nav-link {
  text-decoration: none;

  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  color: rgb(80, 73, 73);
  &__active {
    color: rgb(245, 245, 245);
  }
}
.shopname {
  text-decoration: none;
  font-family: "Monoton", cursive;
  font-weight: 400;
  font-size: 60px;
  font-style: italic;
  color: rgb(14, 1, 1);
  padding-left: 20px;
}
.icon {
  padding-left: 10px;
}
